.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 3rem;
}

.main {
  padding-block: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto;
}

@media (min-width: 480px) {
  .main {
    grid-template-columns: auto auto auto auto;
  }
}
