.search-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-block-start: 3rem;
  flex-direction: column;
}

.render-countries {
  padding-block: 3rem;
  display: grid;
  gap: 2rem;
  justify-content: center;
  grid-template-columns: auto;
}

@media (min-width: 480px) {
  .search-container {
    flex-direction: row;
  }
  .render-countries {
    grid-template-columns: auto auto auto auto;
    gap: 5rem;
  }
}
