.search-form {
  width: 100%;
  max-width: 42rem;
  padding: 1.2rem 3rem;
  border-radius: 0.6rem;
  background-color: var(--Dark-Mode-Elements);
}

.search-icon {
  margin-inline-end: 1.5rem;
  font-size: 1.6rem;
}

.search-input {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--White);
}

.search-input::placeholder {
  color: var(--Light-Mode-Input);
}
